.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bebebe; 
  }
  
  .custom-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px; /* Optional: Rounded corners */
    overflow: hidden; /* Ensures the border radius applies to child elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
    max-width: 80%;
    width: 100%;
  }
  
  .left-col {
    background-color: #6a0dad; /* Purple */
    padding: 20px;
    text-align: center;
  }
  
  .right-col {
    background-color: #ededed; /* Pink */
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin: 0;
  }
  